<div class="header" *ngIf="movie && movieDetails && logoPath">
  <app-navbar [logoBuscar]="true"></app-navbar>
  <div class="cuerpoBanner">
    <div class="wrapper-fondo">
      <img class="fondo" [src]="URL_IMAGE_BANNER + movie.backdrop_path" alt="movie.title" />
      <div class="contenedorLogo">
        <img class="logo-banner" [src]="URL_IMAGE_LOGO + logoPath.file_path" alt="movieDetails.title" />

        <div class="botones">
          <button class="boton-reproducir">
            <i class="fa-solid fa-play"></i> Reproducir
          </button>

          <button class="boton-info-banner">
            <i class="fa fa-heart" aria-hidden="true"></i>
          </button>

          <button class="boton-info-banner">
            <i class="fa-solid fa-circle-info"></i>
          </button>
        </div>
      </div>
    </div>

  </div>
</div>